# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec
venv/
.env
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# PyTorch
*.pt
*.pth

# Large dataset folders
masks/
Osteo_PR_Dataset/
Osteo_PR_Dataset_Cropped/

# OS files
.DS_Store
Thumbs.db
